<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated LegalNormRules -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="mdpa.lnr.metamodel.LegalNormRules.presentation.LegalNormRulesModelWizardID"
            name="%_UI_LegalNormRulesModelWizard_label"
            class="mdpa.lnr.metamodel.LegalNormRules.presentation.LegalNormRulesModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/LegalNormRulesModelFile.gif">
         <description>%_UI_LegalNormRulesModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated LegalNormRules -->
      <editor
            id="mdpa.lnr.metamodel.LegalNormRules.presentation.LegalNormRulesEditorID"
            name="%_UI_LegalNormRulesEditor_label"
            icon="icons/full/obj16/LegalNormRulesModelFile.gif"
            extensions="legalnormrules"
            class="mdpa.lnr.metamodel.LegalNormRules.presentation.LegalNormRulesEditor"
            contributorClass="mdpa.lnr.metamodel.LegalNormRules.presentation.LegalNormRulesActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated LegalNormRules -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="mdpa.lnr.metamodel.LegalNormRules.Prerequisit.presentation.PrerequisitModelWizardID"
            name="%_UI_PrerequisitModelWizard_label"
            class="mdpa.lnr.metamodel.LegalNormRules.Prerequisit.presentation.PrerequisitModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/PrerequisitModelFile.gif">
         <description>%_UI_PrerequisitModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated LegalNormRules -->
      <editor
            id="mdpa.lnr.metamodel.LegalNormRules.Prerequisit.presentation.PrerequisitEditorID"
            name="%_UI_PrerequisitEditor_label"
            icon="icons/full/obj16/PrerequisitModelFile.gif"
            extensions="prerequisit"
            class="mdpa.lnr.metamodel.LegalNormRules.Prerequisit.presentation.PrerequisitEditor"
            contributorClass="mdpa.lnr.metamodel.LegalNormRules.Prerequisit.presentation.PrerequisitActionBarContributor">
      </editor>
   </extension>

</plugin>
