<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated LegalNormRules -->
      <package
            uri="http://www.example.org/LegalNormRules"
            class="mdpa.lnr.metamodel.LegalNormRules.LegalNormRulesPackage"
            genModel="model/LegalNormRules.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated LegalNormRules -->
      <package
            uri="http://www.example.org/LegalNormRules/Prerequisit"
            class="mdpa.lnr.metamodel.LegalNormRules.Prerequisit.PrerequisitPackage"
            genModel="model/LegalNormRules.genmodel"/>
   </extension>

</plugin>
